HOST=0.0.0.0
PORT=1337
APP_URL=https://api.soulvolks.it

APP_KEYS=your_app_keys
API_TOKEN_SALT=your_api_token_salt
ADMIN_JWT_SECRET=your_admin_jwt_secret
JWT_SECRET=your_jwt_secret
TRANSFER_TOKEN_SALT=your_transfer_token_salt

DATABASE_CLIENT=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=soulvolks_db
DATABASE_USERNAME=soulvolks_user
DATABASE_PASSWORD=your_db_password
DATABASE_SSL=false